In [11]:
Excercise 2
# Data Science Tools and Ecosystem

Excercise 3
In this notebook, Data Science Tools and Ecosystem are summarized.

Excercise 4
Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.SQL

Excercise 5
Some of the commonly used libraries used by Data Scientits include:
1.Pandas
2.Numpy
3.Matplotlib
4.Scikit-learn
5.TensorFlow

Excercise 6
| Data Science Tools   |
|----------------------|
| Jupyter Notebooks    |
| RStudio              |
| Apache Zeppelin      |


Excercise 7
### Below are a few examples of evaluating arithmetic expressions in Python.

Excercise 10

Objectives:

- List popular languages for Data Science.
- Describe commonly used libraries in Data Science.
- Introduce examples of arithmetic expressions in Python.
- Demonstrate conversion of minutes to hours.
- Showcase creation of tables and ordered lists in markdown.


## Author
Fumihiro Toko

<class 'SyntaxError'>: invalid decimal literal (<ipython-input-11-188ad20943b6>, line 10)

In [13]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [14]:
# Converting 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335